__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.sqlite3

.venv/
env/
venv/
ENV/
.venv/

.streamlit/


.ipynb_checkpoints

*.pyc
*.pyo
*.pyd


*.log
*.env
*.env.*
env.bak


config.yaml
*.secrets


.DS_Store
Thumbs.db


.idea/


.vscode/


docker-compose.override.yml


hf_cache/
